{% extends "::private.html.twig" %}

{% block content %}
<ul class="breadcrumb">
    <li>
        <a href="{{ path('ghome_core_config_index') }}">Configuration</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{{ path('ghome_core_config_sensors') }}">Capteurs</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        Supprimer un capteur
    </li>
</ul>

<form method="post" action="">
    <p>
        Êtes-vous sûr de vouloir supprimer le capteur d'identifiant physique 
        <strong>{{ enocean.physicalId }}</strong> installé dans votre 
        <strong>{{ sensor.room.name|lower }}</strong> ?</p>
    
    <div class="form-actions">
        <input type="submit" name="confirm" class="btn btn-primary" value="Oui" />
        <input type="submit" name="cancel" class="btn" value="Annuler" />
    </div>
</form>

{% endblock %}
