{% extends "::admin.html.twig" %}

{% block content %}
<ul class="breadcrumb">
    <li class="active">
        Configuration
    </li>
</ul>

<div class="hero-unit">
    <h1>Configuration</h1>
    
    <p style="margin-top: 20px;">
        &larr; Sélectionnez une action dans le menu de droite pour configurer votre GHOME.
    </p>
</div>
{% endblock %}