{% if row.action %}
    <span class="label {{ row.metricEntity.actuatorCssClass(row.action.value) }}">{{ row.metricEntity.formatActuator(row.action.value) }}</span>
{% elseif row.metricEntity.isActuator %}
    <em>Aucune donnée</em>
{% else %}
    —
{% endif %}